In [24]:
!pip install faker

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: faker in c:\users\rithy\appdata\roaming\python\python313\site-packages (40.1.0)
Requirement already satisfied: tzdata in c:\users\rithy\appdata\roaming\python\python313\site-packages (from faker) (2025.2)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [29]:
# LIbraries needed
from faker import Faker
import pandas as pd


fake = Faker()
def generate_fake_data(num_entries=100):
    data={
        'Name':[],
        'Credit card number':[],
        'Credit card provider':[],
        'Currency':[],
        'Phone Number':[],
        'Email':[],
    }

    for _ in range(num_entries):
        data['Name'].append(fake.name())
        data['Credit card number'].append(fake.credit_card_number())
        data['Credit card provider'].append(fake.credit_card_provider())
        data['Currency'].append(fake.currency())
        data['Phone Number'].append(fake.phone_number())
        data['Email'].append(fake.email())
        
    return data
    
#Generate the data
fake_data = generate_fake_data(100)

#Create a DataFrame
df_fake_data = pd.DataFrame(fake_data)

#Save to a CSV file
df_fake_data.to_csv(r"fake_data_finance1.csv", index=False)
df_fake_data.head()

,Name,Credit card number,Credit card provider,Currency,Phone Number,Email
0,Dr. Lauren Patel,180021952689873,JCB 16 digit,"(UGX, Ugandan shilling)",(692)944-0651x985,gregorywalsh@example.org
1,Hector Scott,2658619334175609,Discover,"(LSL, Lesotho loti)",001-558-316-2890,ihowe@example.com
2,Robert Delacruz,4943776177013,VISA 16 digit,"(SPL, Seborga luigino)",(342)427-0396,timothy99@example.com
3,Ronald Sanchez,30498411492937,JCB 16 digit,"(MUR, Mauritian rupee)",942.573.4519,cdaniels@example.org
4,Edward Martin,6011336659046967,VISA 16 digit,"(PEN, Peruvian sol)",266-786-9068x2367,sylviahunt@example.com