In [2]:
import pandas as pd
import numpy as np

# load data
dataframe=pd.read_csv(r"C:\Users\rithy\Downloads\customer_data.csv")
df=dataframe.copy()

# explore data
dataframe.shape
dataframe

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,Christopher Williams,63.0,Male,USA,2021-12-22,2023-09-12,2141.15,dasktop,margaret03@bullock.info
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Kevin Hopkins,42.0,Female,UK,2023-04-21,2024-06-28,2863.67,NaN,tammy76@mcintyre.org
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Sonya Stafford,76.0,Femlae,UK,2020-09-16,2023-06-13,2427.18,NaN,lauramichael@hotmail.com
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,Matthew Schmidt,53.0,Unknown,Indai,2021-05-16,2024-12-15,5986.07,moblie,@example.com
4,e443df78-9558-467f-9ba9-1faf7a024204,Kristen Banks,74.0,NaN,UK,2022-04-14,2025-01-08,3374.72,dasktop,blacknicole@smith-lewis.com
...,...,...,...,...,...,...,...,...,...,...
50995,20837629-e9f8-4fb7-9023-3d333d3fd550,Scott Romero,58.0,Male,UK,2023-04-30,2025-02-02,6097.24,NaN,amywalls@yahoo.com
50996,dd8f4adc-3494-4f25-808a-fe0e4faa1617,5433,40.0,Femlae,Canda,2023-08-29,2023-12-30,5831.04,dasktop,ethanmora@hotmail.com
50997,eb9ae8a6-1977-4732-8cf6-00b4377c3965,Michael Miranda,72.0,Male,NaN,2020-10-07,2023-07-03,2385.87,desktop,joshua42@miller.com
50998,77dc6602-6c82-41f1-859f-7dfc9f3bca77,Amber Johnson,59.0,mle,UK,2021-02-12,2023-12-09,3124.93,NaN,xarias@scott.com
50999,c27df768-057d-48fd-a331-42e5bfd8f30a,Nicholas Hodge,20.0,NaN,India,2023-12-10,2024-11-27,2796.56,moblie,heatherchen@edwards.com

In [3]:
# Information about data
df.info()

#counts missing values in each column
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       50501 non-null  object
 1   Name             51000 non-null  object
 2   Age              48417 non-null  float64
 3   Gender           36365 non-null  object
 4   Country          38330 non-null  object
 5   SignupDate       49957 non-null  object
 6   LastLogin        49939 non-null  object
 7   TotalPurchase    48601 non-null  float64
 8   PreferredDevice  33878 non-null  object
 9   Email            49696 non-null  object
dtypes: float64(2), object(8)
memory usage: 3.9+ MB

CustomerID           499
Name                   0
Age                 2583
Gender             14635
Country            12670
SignupDate          1043
LastLogin           1061
TotalPurchase       2399
PreferredDevice    17122
Email               1304
dtype: int64

Rows with missing CustomerID values are removed.**Categorical features** such as Gender, Country, and PreferredDevice are imputed using placeholder values, while **numerical attributes** like Age and TotalPurchase are handled using **median** and **zero imputation** respectively. Date fields are converted to datetime format and missing values are resolved through logical cross-filling.

In [4]:
#dropping null customerId rows (499)
df.dropna(subset=['CustomerID'],inplace=True)

#replacing NaN and unknown value in Gender to 'Not_disclosed' since near-zero value of corelation b/w age,totalpurchase 
df["Gender"]=df["Gender"].fillna('NotDisclosed')
df['Gender'] = df['Gender'].replace('Unknown', 'NotDisclosed')

# replacing null values of Country with 'Unknown'
df['Country'].fillna('Unknown', inplace=True)

# replacing null values of TotalPurchase with '0.0'
df['TotalPurchase']=df['TotalPurchase'].fillna('0.0')

# replacing null values of PreferredDevice with 'Unknown'
df['PreferredDevice'].fillna('Unknown', inplace=True)

# replacing null values of Email with ''
df['Email']=df['Email'].fillna('')

#converting SignupDate and LastLogin to datetime objects
df['SignupDate'] = pd.to_datetime(df['SignupDate'], errors='coerce')
df['LastLogin'] = pd.to_datetime(df['LastLogin'], errors='coerce')

# Fill missing SignupDate with the value from LastLogin
df['SignupDate'] = df['SignupDate'].fillna(df['LastLogin'])

# Fill missing LastLogin with the value from SignupDate
df['LastLogin'] = df['LastLogin'].fillna(df['SignupDate'])

#dropping remaining null rows (22 each for both)
df.dropna(subset=['SignupDate'],inplace=True)

# Fill missing Age with median
df['Age'].fillna(df['Age'].median(), inplace=True)

# no more missing values
df.isnull().sum()

C:\Users\rithy\AppData\Local\Temp\ipykernel_27500\2590911564.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Country'].fillna('Unknown', inplace=True)
C:\Users\rithy\AppData\Local\Temp\ipykernel_27500\2590911564.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PreferredDevice'].fillna('Unknown', inplace=True)
C:\Users\rithy\AppData\Local\Temp\ipykernel_27500\2590911564.py:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

CustomerID         0
Name               0
Age                0
Gender             0
Country            0
SignupDate         0
LastLogin          0
TotalPurchase      0
PreferredDevice    0
Email              0
dtype: int64

This step focuses on correcting invalid and inconsistent values without dropping rows. Numeric characters in names are removed, negative values in Age and TotalPurchase are corrected using median and zero imputation respectively, and object-type purchases are converted to numeric format. Common typos in categorical features such as Gender, Country, and PreferredDevice are identified using value counts and standardized through mapping.

In [44]:
# Remove digits from names
df['Name'] = df['Name'].str.replace(r'\d+', '', regex=True) #previously 2461 rows
df['Name'].str.contains(r'\d', na=False).sum() #now 0 rows

# Filling negative values for age with median value
median_age = df.loc[df['Age'] >= 0, 'Age'].median() #previously 1234 rows
df.loc[df['Age'] < 0, 'Age'] = median_age #now 0 rows
(df['Age'] < 0).sum()

#Converting object type to float64 and replacing negative values with 0
df['TotalPurchase'] = pd.to_numeric(df['TotalPurchase'], errors='coerce')
df.loc[df['TotalPurchase'] < 0, 'TotalPurchase'] = 0 #previously 2541 rows
(df['TotalPurchase'] < 0).sum() #now 0 rows

#to see the extent of typos in Gender
print(df['Gender'].value_counts())

# fixing typos
mapping = {
    'Femlae': 'Female',
    'mle': 'Male'
}
df['Gender'] = df['Gender'].replace(mapping)

#to see the extent of typos in Country
print(df['Country'].value_counts())

# fixing typos 
mapping = {
    'Indai': 'India',
    'Canda': 'Canada'
}
df['Country'] = df['Country'].replace(mapping)

#to see the extent of typos in PreferredDevice
print(df['PreferredDevice'].value_counts())

# fixing typos 
mapping = {
    'dasktop': 'desktop',
    'moblie': 'mobile'
}
df['PreferredDevice'] = df['PreferredDevice'].replace(mapping)

Gender
NotDisclosed    21206
Female          14248
Male            14035
Name: count, dtype: int64
Country
India      12525
Unknown    12293
USA         6223
Germany     6211
UK          6145
Canada      6092
Name: count, dtype: int64
PreferredDevice
Unknown    16614
desktop    16544
mobile     16331
Name: count, dtype: int64

Duplicated rows are removed

In [45]:
#Check duplicate rows
df.duplicated().sum()

# Drop 990 duplicate rows
df = df.drop_duplicates()

In [47]:
# save df to csv file
df.to_csv("cleaned_customer_data.csv", index=False)
# dataset after cleaning
df

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,Christopher Williams,63.0,Male,USA,2021-12-22,2023-09-12,2141.15,desktop,margaret03@bullock.info
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Kevin Hopkins,42.0,Female,UK,2023-04-21,2024-06-28,2863.67,Unknown,tammy76@mcintyre.org
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Sonya Stafford,76.0,Female,UK,2020-09-16,2023-06-13,2427.18,Unknown,lauramichael@hotmail.com
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,Matthew Schmidt,53.0,NotDisclosed,India,2021-05-16,2024-12-15,5986.07,mobile,@example.com
4,e443df78-9558-467f-9ba9-1faf7a024204,Kristen Banks,74.0,NotDisclosed,UK,2022-04-14,2025-01-08,3374.72,desktop,blacknicole@smith-lewis.com
...,...,...,...,...,...,...,...,...,...,...
49995,310fbdbb-917a-429f-b433-943cbf12a183,Elizabeth Parker,27.0,NotDisclosed,Canada,2022-11-15,2024-08-21,7775.01,mobile,christopher66@nguyen-colon.com
49996,4aed72d8-5e4d-4474-beeb-4a2b96021ca8,Tammy Baker,57.0,NotDisclosed,India,2022-05-23,2023-12-17,8696.38,mobile,nicholas65@marquez-simmons.biz
49997,a7c61286-1c15-4374-9a1f-58024b0e1de5,Barbara Wood,64.0,Female,USA,2023-08-04,2023-08-08,9620.75,mobile,tadams@gmail.com
49998,3f02b0a7-e5df-44af-903e-37070954affb,Wayne Montgomery,32.0,Female,India,2023-02-11,2023-08-04,1712.46,Unknown,teresadean@gmail.com
49999,7a9cc65c-576a-40bd-87ef-ae5269a84714,Michael Richardson,28.0,Male,Unknown,2023-10-28,2025-03-07,8606.62,desktop,clarson@knight-harrington.org

## DATA PRE-PROCESSING